{% extends 'basic.html' %}
{% block content %}


<div class="jumbotron">
  <h1 class="display-4">Welcome to the Agro-Genie!</h1>
  <p class='lead'>Here to help with choices of crops according to your soil conditions and vice-versa!</p>
</div>


<div style="margin-bottom: 40px;background-color: rgba(217, 217, 217,0.7); border-radius:5px; padding:5px;">
  <form method="POST">
  <h2 class='display-4' style="text-align: center;">Advice for Crops and Soil types:</h2>
  {{ form_fertilizer.hidden_tag() }}
  {{ form_fertilizer.soil_type.label(class_="h4 lead")}}
  <br>
  {{ form_fertilizer.soil_type(class_="btn-lg btn-group btn-secondary",style='width:80%;') }}
  <br>
  {{ form_fertilizer.crop_option.label(class_="h4 lead")}}
  <br>
  {{ form_fertilizer.crop_option(class_="btn-lg btn-group btn-secondary",style='width:80%;') }}
  <br>
  <br>
  {{ form_fertilizer.submit(class_="btn btn-dark") }}

  </form>

</div>


</form>




{% endblock %}
